@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Overlock", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
  height: 200px;

}

@layer base {
  :root {
    --radius: 0.5rem;
  }

}

